{% extends 'base.html' %}

{% block content %}
	{% if track_list %}
		<div class="row">
		<form type="get" class="form-horizontal" action="." style="margin: 0">
			<div class="form-group">
		    	<input  id="search_box" class="form-control" type="text" name="search_box" placeholder="Search Song Track by Title or Genre [ e.g. 'Shape of you' || 'pop / jazz / classical' ]" >
		    </div>
		    <div class="form-group">
		    	<button id="search_submit" class="btn btn-default center-block"  type="submit" >Submit</button>
		    </div>
		</form>
		</div>
		<div class="row">
	    <ul class="list-group">
	    {% for track in track_list %}
			<a href="/track/{{ track.id }}/">
	    	    <li class="list-group-item">
			    	<span class="badge">{{ track.rating }}</span>
			    	{{ track.title }} [{{ track.genre.genre }}]
		    	</li>
			</a>
	    {% endfor %}
	    </ul>
	    <div class="pagination">
		    <span class="step-links">
		        {% if track_list.has_previous %}
		            <a class="btn btn-default" href="?page={{ track_list.previous_page_number }}">Previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ track_list.number }} of {{ track_list.paginator.num_pages }}.
		        </span>

		        {% if track_list.has_next %}
		            <a class="btn btn-default" href="?page={{ track_list.next_page_number }}">Next</a>
		        {% endif %}
		    </span>
		</div>
	{% else %}
	    <p>No music tracks are available.</p>
	{% endif %}
	<a class="btn btn-primary btn-lg btn-block" href="{% url 'Track:tracks-add' %}" role="button">Add New Track</a>
	</div>
{% endblock %}